<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<table style="margin: auto; margin-top: 130px; width: 80%;" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tipo de Pipe</th>
      <th scope="col">Antes del Pipe</th>
      <th scope="col">Despues del Pipe</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <th>UpperCasePipe</th>
      <td>{{ title }}</td>
      <td>{{ title | uppercase }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <th>LowerCasePipe</th>
      <td>{{ description }}</td>
      <td>{{ description | lowercase }}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <th>TitleCasePipe</th>
      <td>{{ nombreMaestro }}</td>
      <td>{{ nombreMaestro | titlecase}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <th>SlicePipe</th>
      <td>[{{ frutas }}]</td>
      <td>{{ frutas | slice:1:4 }}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <th>DecimalPipe</th>
      <td>{{ PI }}</td>
      <td>{{ PI | number:'1.1-4' }}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <th>PercentPipe</th>
      <td>{{ porcentaje }}</td>
      <td>{{ porcentaje | percent }}</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <th>CurrencyPipe</th>
      <td>{{ dinero }}</td>
      <td>{{ dinero | currency }}</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <th>AsyncPipe</th>
      <td>{{ time }}</td>
      <td>{{ time | async }}</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <th>DatePipe</th>
      <td>{{ fecha }}</td>
      <td>{{ fecha | date:'dd/mm/yy hh:mm:ss' }}</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <th>JsonPipe</th>
      <td>{{ persona }}</td>
      <td>{{ persona | json }}</td>
    </tr>
  </tbody>
</table>